@import '../../node_modules/react-md/src/scss/react-md';
$md-primary-color: #cd2028;
$md-secondary-color: #029CD3;
$md-data-table-contextual-fallback-color: #039BE5;
$md-linear-progress-fallback-color: #039BE5;
$md-switch-ball-fallback-color: #039BE5;
