@import 'globals';
.order{
    display: flex;
    justify-content: flex-end;
}
.total {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.cart-title{
    // background: #029CD3;;
    background: $md-secondary-color;
    text-decoration: "none";
    

    h2{
        color: white; 
        font-size: 1.5em
        
    }
}

.cart-card{
    position: sticky;
    top: 5.5em;
}

.empty-cart { 
    padding: 2em;

    P {
        text-align: center;
        font-weight: 500;
        color: #757575;
    }
}

.cart-list {
     overflow: scroll;
     height: 350px;
     max-width: 100%;
     overflow-x: hidden;
}

.icon {
    color: white;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}