
$md-expansion-panel-padding: 0px !default;

.filters-title {
    background: #03A9F4;
    text-decoration: none;

    h2 {
        color: white;
        font-size: 1.5em;
    }
}

.sticky-card {
    position: sticky;
<<<<<<< Updated upstream
    top: 0;
}

.chips-list {
    // background: #EEEEEE;
    padding: 1em;
=======
    top: 4em;
>>>>>>> Stashed changes
}