.skinny-cell {
    margin: 0.1em;
}
.container {
    display: flex;
    justify-content: space-between;
}

.green {
    color: green;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.gray {
    color: gray;
}