.total {
  display: flex;
  justify-content: flex-end; }

.order {
  display: flex;
  justify-content: flex-end; }

.cart-title {
  background: #03A9F4;
  text-decoration: "none"; }
  .cart-title h2 {
    color: white;
    font-size: 1.5em; }

.cart-card {
  position: sticky;
  top: 0; }

.divider {
  margin: 8px 0;
  height: 1;
  background: #757575; }
